body {
    background: #fff;
    scroll-behavior: smooth;
    animation: transitionIn 1s;
}

@keyframes transitionIn{
    from{
        opacity: 0;
        transform: translateY(-5px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


body, input, select, textarea {
    color: #555f66;
    font-size: 14pt;
    font-weight: 300;
    line-height: 1.75em;
}



/* FOOTER */

.main-container-footer {
    margin: 2em 2em 0em 2em;
    padding: 10em 2em 0em 3em ;
    overflow: hidden;
}

.table-row-one {
    padding : 0;
    margin: 0;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    height: 3em;
    width: 100%;
    left: 0;
    display: inline-flex;
    min-width: 20em;
    
}
.news-letter {
    margin: 0em 0em 0em 0em;
    padding-top: 1.5em;
    vertical-align: middle;
    width:  30em;
    min-width: 16em;
}

.discount {
    margin: 0em 1em 0em 0em;
    padding-top: 2em;
    vertical-align: top;
    width:  30em;
    min-width: 10em;
}

.subscribe{
    width:  30em;
    padding-top: 0.5em;
    min-width: 17em;
}

.subscribe > input{
    width: 12em;
}

.subscribe > .sub-btn-footer {
    margin-right: 3em;
}

input[type="text"],
input[type="email"],
input[type="password"]:focus{
    outline: none;
}

.news-letter-span {
    font-size: 27px;
    font-weight: 100;
    color: #575757;
}

.dicount-span {
    font-size: 14px;
    font-weight: 100;
    color: #575757;
}
.discount-pan-font {
    font-weight: bold;
}

input[type="email"] {
    margin-top: 0.2em;
    width: 30%; 
    border-radius: 30px;
    height: 2.7em;
    border-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;

}

input[type="email"]:hover{
    border-color: rgb(255, 218, 5);
}

input[type="text"] {
    background-color: rgb(255, 218, 5);
    margin-top: 0em;
    width: 12em; 
    border-radius: 30px;
    height: 1em;
    border-style: none;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 25px;
    padding-left: 25px;
    font-size: 1em;
    vertical-align: 0.3em;
}

input[type="text"]:hover{
    background-color: rgb(255, 230, 90);
}

.sub-btn-footer{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 10%; 
    border-radius: 30px;
    height: 3.8em;
    border-style: none;
    margin-top: 0.3em;
    font-weight: bold;
    color: #ffffff;
    margin-left: -6em;
}

.sub-btn-footer:hover{
    background-color: rgb(9, 83, 126);
    color: #ffffff;
    
}

.table-row-two {
    display: inline-flex;
    padding : 0em 2em 1em 0em;
    margin: 1em 1em 1em 1em;
    height: 15em;
    width: 90%;
}

.company-details {
    padding : 0em 1em 1em 2em;
    margin: 0em 1em 1em 0em;
    vertical-align: top;
    width:  50em;
    height: 8em;

}
.image-logo {
    height: 100px;
    width: 200px;
}

.image-headphone {
    height: 50px;
    width: 170px;
}    
.company-details-contacts {
    display: inline-flex;
}
.company-details-contacts-para {
    margin-left: 1em;
    color: #575757;
}
.company-details-contacts-para-font-one {
    font-size: 13px;
}
.company-details-contacts-para-font-two {
    font-size: 20px;
}
.company-details-address {
    font-size: 12px;
    color: #3f3f3f;
    font-weight: bold;
}
.company-details-address-font {
    font-size: 16px;
    line-height: 2em;
    
}
.company-details-social-media-item {
    margin-right: 3em;
   
}

.find-in-fast {
    padding : 0em 1em 1em 0em;
    margin: 0em 1em 1em 1em;
    vertical-align: top;
    width:  13em;
    height: 8em;
}

.find-in-fast-para {
    font-weight: 700;
    color: #575757;
    font-size: large;
}

.find-in-fast-list {
    margin-left: -2.5em;
    list-style: none;
    line-height: 2em;
    font-weight: 100;
}
.find-in-fast-list-link {
    text-decoration: none;
    color: #575757;
}

.information-one {
    padding : 0em 1em 1em 0em;
    margin: 0em 1em 1em 1em;
    vertical-align: top;
    width:  13em;
    height: 8em;
}

.information-one-para {
    font-weight: 700;
    color: #575757;
    font-size: large;
}

.information-one-list {
    margin-left: -2.5em;
    list-style: none;
    line-height: 2em;
    font-weight: 100;
}

.information-one-list-link {
    text-decoration: none;
    color: #575757;
}

.at-glance {
    padding : 0em 1em 1em 0em;
    margin: 0em 1em 1em 1em;
    vertical-align: top;
    width:  13em;
    height: 8em;

}

.at-glance-para {
    font-weight: 700;
    color: #575757;
    font-size: large;
}

.at-glance-list {
    margin-left: -2.5em;
    list-style: none;
    line-height: 2em;
    font-weight: 100;
}

.at-glance-list-link {
    text-decoration: none;
    color: #575757;
}

.bottom-line {
    margin: 6em 0em 0em 0em;
    position: relative;
    left: 0;
    padding: 0.1em 5em  0.1em 8em;
    background-color: rgba(85, 92, 92, 0.055);
    height: 3em;
    
}
.bottom-line-para {
    font-weight: 100;
    font-size: 15px;
}
