

<!-- FOOTER -->
<div class="main-container-footer">
    <div class="table-row-one" >

       
    </div>
    <div class="table-row-two" >
        <div class="company-details" >
         
            <div class="company-details-contacts">
                <img class="image-headphone" src="assets/images/tapway.png" alt="logo">
                <p class="company-details-contacts-para"> <font class="company-details-contacts-para-font-one" >Got questions? Call us 24/7! </font> <br/>
                    <font class="company-details-contacts-para-font-two">(+94)78 303 0250, (+94)77 030 0729</font></p>
            </div>
            <div class="company-details-address">
                <p> <font class="company-details-address-font" >Contact info</font>  <br>
                    17 Princess Road, Colombo, Sri Lanka,</p>
            </div>
            <div class="company-details-social-media">
                <a class="company-details-social-media-item" href=""><img src="assets/images/facebook.png" alt="faebook"></a>
                <a class="company-details-social-media-item" href=""><img src="assets/images/whatsapp.png" alt="whatsapp"></a>
                <a class="company-details-social-media-item" href=""><img src="assets/images/twitter.png" alt="twiter"></a>
                <a class="company-details-social-media-item" href=""><img src="assets/images/linkedin.png" alt="linkedin"></a>
            </div>
        </div>
        <div class="find-in-fast" >
            <p class="find-in-fast-para">Find In Fast</p> 
            <ul class="find-in-fast-list">
                <li><a class="find-in-fast-list-link" href="#">Sample One</a></li>
                <li><a class="find-in-fast-list-link" href="#">Sample Two</a></li>
                <li><a class="find-in-fast-list-link"href="#">Sample Three</a></li>
                <li><a class="find-in-fast-list-link" href="#">Sample Four</a></li>
                <li><a class="find-in-fast-list-link" href="#">Sample Five</a></li>
                <li><a class="find-in-fast-list-link"href="#">Sample Six</a></li>
            </ul>
        </div>
        <div class="information-one" >
            <p class="information-one-para">information</p>
            <ul class="information-one-list">
                <li><a class="information-one-list-link" routerLink="aboutus">About Us</a></li>
                <li><a class="information-one-list-link" routerLink="contactus">Contact Us</a></li>
                <li><a class="information-one-list-link"href="#">Sample Three</a></li>
                <li><a class="information-one-list-link" href="#">Sample Four</a></li>
                <li><a class="information-one-list-link" href="#">Sample Five</a></li>
            </ul>
        </div>
        <div class="at-glance" >
            <p class="at-glance-para">At Glance</p>
            <ul class="at-glance-list">
                <li><a class="at-glance-list-link" href="#">Sample One</a></li>
                <li><a class="at-glance-list-link" href="#">Sample Two</a></li>
                <li><a class="at-glance-list-link"href="#">Sample Three</a></li>
                <li><a class="at-glance-list-link" href="#">Sample Four</a></li>
            </ul>
        </div>
    </div>
  </div>
  <div class="bottom-line">
    <p class="bottom-line-para" >© 2024 <strong>Iroshana Ravishan</strong></p>
  </div>