<!-- HEADER -->

<header id="header">
    <div class="logo">
      <img  src="/assets/images/tapway.png" alt="company-logo">
    </div>

    <div class="container-top">
      <li routerLink="#" class="list-item"> <button  class="list-item-button">Contact Us</button></li> 
      <li routerLink="image-list/assigned-images" class="list-item"> <button  class="list-item-button">Assigned Images</button></li>         
      <li routerLink="" class="list-item"> <button class="list-item-button">Images</button></li>
      <li routerLink="#" class="list-item"> <button  class="list-item-button">Home</button></li>          
    </div>
</header>
