/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900&display=swap');
* {
    box-sizing: border-box;
}

html,
body {
    padding-top: 5em;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.ngx-pagination .current {
    border-radius: 5px;
}
  
:host {
    display: block;
    text-align: center;
}

.lightbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 3em;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0 , 0, 0.85);
}

.lightbox-img img{
    width: 50%;
    height: auto;
    padding: 3em;
}

.img-assign-area {
    position: absolute;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background: red;
    height: 3em;
    box-sizing: border-box;
    flex-direction: row;
}

.btn-light-box-carousel {
    padding: 0;
    width: 7%;
    height: 10%;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    background: none;
    border: none;

}
.close-btn {
    position: absolute;
    top: 5em;
    right: 20em;
    padding: 0;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    background: 0 0;
    border: none;
}

.image-container {
    position: relative;
    display: inline-block;
    padding: 25px;
    margin: 0 15em;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    line-height: 0;
    column-count: 3;
    column-gap: 30px;
}

.image {
    overflow: hidden;
    width: 100%;
    height: auto;
    cursor: zoom-in;
    border-radius: .35rem;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.15); 
    transform: scale(1.07);
    transition: 200ms;
}

.image img {
    width: 100%;
    height: auto;
}

.pagination-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

select {
    border: none; 
    outline: none;
}

.body-row {
    padding : 0;
    margin-bottom: 2em;
    background-color: rgb(255, 217, 0);
    border-radius: 10px;
    height: em;
    width: 100%;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.assign-btn {
    position: absolute;
    top: 5.3em;
    right: 4em;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    color: #fff;
    background: 0 0;
    border: solid rgb(194, 192, 192);
    border-radius: 5px;
  }
  
  .assign-btn:hover {
    background-color: #c5c5c5;
    color: black;
  }